.background-agregar-zona,.background-actualizar-zona{
    z-index: 300;
    width: 100%;
    padding: 20px;
    background-color: #6666;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    opacity: 1;
    transition-property: opacity;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}
.background-actualizar-zona{
  display: none;
}
.agregar-zona-container,.actualizar-zona-container{
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 1px 10px 0px rgb(0 0 0 / 10%);
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.agregar-zona-container h2, .actualizar-zona-container h2{
    color: var(--naranja);
    padding-bottom: 30px;
    font-size: 1.2rem;
}

.form-agregar-zona,.form-actualizar-zona{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 10px;
    gap: 10px;
    align-items: center;
}
.form-input{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 5px;
}
.form-input label{
    color: var(--dark);
    font-size: 0.75rem;
}
.form-input input, .form-input select{
    padding: 7px;
    border: 1px solid #dedede;
    border-radius: 5px;
    font-size: 0.8rem;
}
.form-input option{
    color: var(--dark);
}

.form-agregar-zona button,.form-actualizar-zona button{
    width: 100%;
    margin-top: 15px;
    padding: 7px;
    background-color: var(--naranja);
    color: var(--light);
    border: none;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    box-shadow: 0 12px 30px rgba(225,63,18,0.2);
}