
  <header class="header">
    <ion-toolbar color="naranja">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/tabs/perfilUsuario"></ion-back-button>
      </ion-buttons>
      <ion-title>Mis pedidos</ion-title>
    </ion-toolbar>
  </header>
<ion-content [fullscreen]="true" class="ion-padding">
  <div class="container-imagen-principal">
      <img src="assets/logo olla.png" alt="" class="image-principal">
    </div>
  <div class="filtros-buscador-pagos">
      <select
        placeholder="Estado"
        [value]="filtroEstado"
        (change)="onFiltroEstado($event)"
      >
        <option value="">Todos</option>
        <option *ngFor="let e of estados" [value]="e.idEstadoPedido">
          {{ e.nombreEstadoPedido }}
        </option>
      </select>

      <input
        type="date"
        [value]="filtroFecha"
        (input)="onFiltroFecha($event)"
        placeholder="Fecha"
      />

      <button id="btn-filtrar-productos" (click)="aplicarFiltros()">
        Filtrar
      </button>
    </div>

  <ion-spinner *ngIf="cargando"></ion-spinner>
  <ion-text color="danger" *ngIf="error">{{ error }}</ion-text>

  <div class="pedidos-grid">
    <div class="pedido-card" *ngFor="let ped of pedidosFiltrados">
      <div class="pedido-header">
        <span class="pedido-id">#PED-{{ ped.idPedido }}</span>
        <span [class]="claseEstado(ped)">
          {{ nombreEstadoNormalizado(ped.idEstadoPedido, '') }}
        </span>
      </div>

      <div class="pedido-info">
        <p><strong>Fecha:</strong> {{ fechaLimpia(ped.fecha) }}</p>
        <p><strong>Hora:</strong> {{ ped.hora }}</p>
        <p><strong>Total:</strong> S/{{ (montoPedido(ped) | async) || 0 }}</p>
        <p><strong>ID Pago:</strong> {{ ped.idPago }}</p>
      </div>

      <div class="pedido-footer">
        <button class="btn-detalles" (click)="verPedido(ped)">
          Ver pedido
        </button>
      </div>
    </div>
  </div>

</ion-content>
