ion-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  --background: var(--crema);
}
.container-imagen-principal{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}
.image-principal{
  width: 100%;
  max-width: 300px;
}

.main-section__pagos{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 10px;
  padding: 20px 15px 80px;
  gap: 20px;
}

.buscador-item { border-radius: 16px; --background: #eee; padding-inline: 8px; }
.buscador-pagos__container{
  width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}
.input-buscador-pagos{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    margin-bottom: 10px;
}
.input-buscador-pagos input{
    width: 100%;
    padding: 10px 10px;
    border-radius: 50px;
    border: none;
    background-color: #ddd;
    cursor: pointer;
    outline: none;
    font-size: 0.8rem;
    color: var(--dark);
}
.buscador-pagos__container span{
    position: absolute;
    right: 10px;
    color: var(--dark);
    z-index: 200;
}
.filtros-buscador-pagos{
  width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 10px;
}
.select-metodos{
  --background: var(--light);
  border: 1px solid var(--gray);
  border-radius: 5px;
  padding: 7px 10px;
}

.date-input{
  width: 100%;
  padding: 7px;
  border: 1px solid var(--gray);
  color: var(--dark);
  font-size: 0.9rem;
  border-radius: 5px;
  background: #fff;
}
.btn-filtrar{
  background: var(--naranja);
  padding: 10px;
  color: var(--light);
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3px;
}

.capturas-pagos__container{
  width: 100%;
  gap: 20px;
  display: grid;
  grid-template-columns: repeat(2,minmax(150px,1fr));
  grid-template-rows: minmax(450px,0.5fr);
  grid-auto-flow: dense;
  grid-auto-rows: minmax(450px,0.5fr);
}
.captura-info__container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  background-color: var(--light);
  gap: 10px;
}
.captura-container{
  width: 100%;
  height: 85%;
  overflow: hidden;
  border-radius: 5px;
}
.captura-container img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.info-pago__container{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: var(--dark);
}
.dato-pago{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}
.dato-pago label{
  font-size: 0.85rem;
}
#btnVer{
  width: 100%;
  padding: 7px;
  margin-top: 10px;
  color: var(--light);
  background-color: var(--naranja);
  border-radius: 5px;
  border: none;
}