<ion-header class="header" translucent="true">
</ion-header>

<ion-content [fullscreen]="true" class="reset-page">
  <div class="container">
    <img src="../../assets/logo olla.png" alt="Logo La Olla Arequipeña" class="logo" />

    <p class="texto">Ingresa tu nueva contraseña:</p>

    <form (ngSubmit)="resetPassword()" class="form-login">
      <div class="campo">
        <ion-label>Nueva contraseña</ion-label>
        <ion-input
          [(ngModel)]="newPassword"
          name="newPassword"
          type="password"
          placeholder="Nueva contraseña"
          required
        ></ion-input>
      </div>

      <div class="campo">
        <ion-label>Confirmar contraseña</ion-label>
        <ion-input
          [(ngModel)]="confirmPassword"
          name="confirmPassword"
          type="password"
          placeholder="Confirmar contraseña"
          required
        ></ion-input>
      </div>

      <ion-button expand="block" type="submit" class="boton-actualizar">
        ACTUALIZAR CONTRASEÑA
      </ion-button>
    </form>
  </div>
</ion-content>

<ion-footer class="footer">
</ion-footer>
