<ion-header class="header" *ngIf="!esPaginaHistorial() && !esPaginaDetallePedido() && !esPaginaSeguimientoPedido()">
  <div class="menu-icon__container">
    <span class="material-symbols-outlined" id="menu">menu</span>
    <img src="assets/logo contraste olla.png" alt="">
  </div>

  <div class="input-buscar__container" *ngIf="esPaginaBuscar()">
    <input type="text" id="buscador-header" placeholder="Buscar..." (input)="onBuscar($event)">
    <button>
      <span class="material-symbols-outlined">search</span>
    </button>
  </div>

  <div class="noti-container">
    <span class="material-symbols-outlined" id="perfil-header">account_circle</span>
    <span class="material-symbols-outlined">notifications</span>
  </div>
</ion-header>

<ion-tabs>
  
  <div class="realizar-pedido__container" *ngIf="esPaginaCarrito() && carritoTieneProductos">
    <a class="btn-RP" routerLink="/checkout">Ir al pago</a>
  </div>
  <ion-tab-bar slot="bottom" *ngIf="esCliente()">
    <ion-tab-button tab="perfilUsuario" href="/tabs/perfil-usuario">
      <span class="material-symbols-outlined">
                        account_circle
                    </span>
      <!-- <ion-label>Perfil</ion-label> -->
    </ion-tab-button>
    <ion-tab-button tab="buscar" href="/tabs/buscar/">
      <span class="material-symbols-outlined">
                        search
                    </span>
      <!-- <ion-label>Buscar</ion-label> -->
    </ion-tab-button>
    <ion-tab-button tab="menu" href="/tabs/menu">
      <ion-icon aria-hidden="true" name="book-outline"></ion-icon>
      <!-- <ion-label>Carta</ion-label> -->
    </ion-tab-button>

    <ion-tab-button tab="reclamaciones" href="/tabs/reclamaciones/">
      <span class="material-symbols-outlined">
                        contract_edit
                    </span>
      <!-- <ion-label>Reclamo</ion-label> -->
    </ion-tab-button>

    <ion-tab-button tab="tab2" href="/tabs/tab2">
      <span class="material-symbols-outlined">
                        shopping_cart
                    </span>
      <!-- <ion-label>Carrito</ion-label> -->
    </ion-tab-button>
  </ion-tab-bar>
  <ion-tab-bar slot="bottom" *ngIf="esEncargado()">
    <ion-tab-button tab="panel" href="/tabs/panel">
      <span class="material-symbols-outlined">
                        home
                    </span>
      <!-- <ion-label>Reclamos</ion-label> -->
    </ion-tab-button>
    <ion-tab-button tab="usuarios" href="/tabs/usuarios/">
      <span class="material-symbols-outlined">
                        groups
                    </span>
      <!-- <ion-label>Usuarios</ion-label> -->
    </ion-tab-button>
    <ion-tab-button tab="productos" href="/tabs/productos/">
      <span class="material-symbols-outlined">
                        calendar_meal
                    </span>
      <!-- <ion-label>Productos</ion-label> -->
    </ion-tab-button>
    <ion-tab-button tab="pedidos" href="/tabs/pedidos/">
      <span class="material-symbols-outlined">
                        list_alt
                    </span>
      <!-- <ion-label>Pedidos</ion-label> -->
    </ion-tab-button>

    <ion-tab-button tab="pagos" href="/tabs/pagos" >
      <span class="material-symbols-outlined">
                        payments
                    </span>
      <!-- <ion-label>Pagos</ion-label> -->
    </ion-tab-button>
    <ion-tab-button tab="zonas" href="/tabs/zonas" >
      <span class="material-symbols-outlined">
                        area_chart
                    </span>
      <!-- <ion-label>Zonas</ion-label> -->
    </ion-tab-button>
    <ion-tab-button tab="reclamos" href="/tabs/reclamos">
      <span class="material-symbols-outlined">
                    contact_support
                    </span>
      <!-- <ion-label>Reclamos</ion-label> -->
    </ion-tab-button>
    <ion-tab-button tab="perfilUsuario" href="/tabs/perfil-usuario">
      <span class="material-symbols-outlined">
                        account_circle
                    </span>
      <!-- <ion-label>Perfil</ion-label> -->
    </ion-tab-button>
  </ion-tab-bar>
  <ion-tab-bar slot="bottom" *ngIf="esEmpleado()">
    <ion-tab-button tab="panel" href="/tabs/panel">
      <span class="material-symbols-outlined">
                        home
                    </span>
      <!-- <ion-label>Reclamos</ion-label> -->
    </ion-tab-button>
    <ion-tab-button tab="productos" href="/tabs/productos/">
      <span class="material-symbols-outlined">
                        calendar_meal
                    </span>
      <!-- <ion-label>Productos</ion-label> -->
    </ion-tab-button>
    <ion-tab-button tab="pedidos" href="/tabs/pedidos/">
      <span class="material-symbols-outlined">
                        list_alt
                    </span>
      <!-- <ion-label>Pedidos</ion-label> -->
    </ion-tab-button>
    <ion-tab-button tab="pagos" href="/tabs/pagos">
      <span class="material-symbols-outlined">
                        payments
                    </span>
      <!-- <ion-label>Pagos</ion-label> -->
    </ion-tab-button>
    <ion-tab-button tab="perfilUsuario" href="/tabs/perfil-usuario">
      <span class="material-symbols-outlined">
                        account_circle
                    </span>
      <!-- <ion-label>Perfil</ion-label> -->
    </ion-tab-button>
  </ion-tab-bar>
  <ion-tab-bar slot="bottom" *ngIf="esRepartidor()">
    <ion-tab-button tab="panel" href="/tabs/panel">
      <span class="material-symbols-outlined">
                        home
                    </span>
      <!-- <ion-label>Reclamos</ion-label> -->
    </ion-tab-button>
        <ion-tab-button tab="pedidos-repartidor" href="/tabs/pedidos-repartidor/">
      <ion-icon aria-hidden="true" name="square"></ion-icon>
      <!-- <ion-label>Pedidos</ion-label> -->
    </ion-tab-button>
    <ion-tab-button tab="pagos" href="/tabs/pagos">
      <ion-icon aria-hidden="true" name="square"></ion-icon>
      <!-- <ion-label>Pagos</ion-label> -->
    </ion-tab-button>
    <ion-tab-button tab="perfilUsuario" href="/tabs/perfil-usuario">
      <span class="material-symbols-outlined">
                        account_circle
                    </span>
      <!-- <ion-label>Perfil</ion-label> -->
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>

<app-registrar-usuario
  *ngIf="mostrarRegistrarUsuario"
  (cerrarRegistro)="cerrarRegistro()"
  class="overlay-registrar">
</app-registrar-usuario>

<app-actualizar-usuario
  *ngIf="usuarioActualizar"
  [usuario]="usuarioActualizar"
  (cerrarActualizar)="cerrarActualizar()"
  class="overlay-actualizar">
</app-actualizar-usuario>

<!-- ... tu contenido actual de Tabs ... -->

<!-- Overlays PRODUCTOS montados en Tabs -->
<app-registrar-producto
  *ngIf="mostrarRegistrarProducto"
  (cerrarRegistro)="cerrarRegistrarProducto($event)"
  class="overlay-registrar">
</app-registrar-producto>

<app-actualizar-producto
  *ngIf="productoActualizar"
  [producto]="productoActualizar"
  (cerrarActualizar)="cerrarActualizarProducto($event)"
  class="overlay-actualizar">
</app-actualizar-producto>

<!-- ... tu header y ion-tabs existentes ... -->

<!-- Overlays ZONAS montados en Tabs -->
<app-registrar-zona
  *ngIf="mostrarRegistrarZona"
  (cerrarRegistro)="cerrarRegistrarZona()"
  (registroExitoso)="cerrarRegistrarZona(true)"
  class="overlay-registrar">
</app-registrar-zona>

<app-actualizar-zona
  *ngIf="zonaActualizar"
  [zona]="zonaActualizar"
  (cerrarActualizar)="cerrarActualizarZona()"
  (actualizadoExitoso)="cerrarActualizarZona(true)"
  class="overlay-actualizar">
</app-actualizar-zona>

<app-comprobante
  *ngIf="mostrarComprobante"
  [src]="comprobanteSrc"
  (cerrar)="cerrarComprobante()"
  class="overlay-registrar">
</app-comprobante>


