.main-section__productos-relacionados {
  width: 100%;
  margin-top: 50px;
  padding: 20px 15px 80px 15px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.main-section__productos-relacionados h3 {
  color: var(--naranja);
  font-size: 1.2rem;
}

.productos-relacionados__container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.producto {
  border-radius: 5px;
  box-shadow: 0 1px 2px 0px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.image-producto__container {
  width: 100%;
  height: 120px;
  overflow: hidden;
  border-radius: 5px 5px 0 0;
}

.image-producto__container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.info-producto__container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 7px;
  padding: 15px;
  padding-top: 5px;
}

.nombre-producto {
  font-size: 0.8rem;
  color: var(--dark);
}

.precio-producto {
  font-size: 0.8rem;
  font-weight: bold;
}

.button-producto {
  background-color: var(--naranja);
  border: none;
  border-radius: 50px;
  color: var(--light);
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  margin-top: -10px;
}

.button-producto ion-icon {
  font-size: 1.2rem;
}
