.background-image-pago{
  width: 100%;
  position: fixed;
  inset: 0;
  height: 100dvh;
  background-color: #6666;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  z-index: 500;
  opacity: 1;
  transition-property: opacity;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}
.exit{
  position: absolute;
  top: 20px;
  right: 20px;
  color: var(--light);
  transform: scale(1.4);
  cursor: pointer;
}
.container-imagen-pago{
  padding: 5px;
  border-radius: 10px;
  background-color: var(--light);
  max-width: 100%;
  max-height: 100%;
}
.container-imagen-pago img{
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 5px;
}