ion-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    --background: var(--crema)
}
.buscador-zonas__container { 
    margin-top: -4px; 
    border-radius: 50px;
}
.buscador-zonas__container ion-input{
    border-radius: 50px;
}
.container-imagen-principal{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
}
.image-principal{
    width: 100%;
    max-width: 300px;
}
.btn-agregar{
    --background: var(--naranja);
}
    .buscador-item { border-radius: 16px; --background: #eee; padding-inline: 8px; }
    .agregar-zona__container{
      width: 100%; display:flex; align-items:center; justify-content:space-between; margin: 12px 0; color:#2d3142;
    }
    .table-zonas__container{
      width:100%; max-height: 60vh; overflow:auto; box-shadow: 0 1px 10px rgba(0,0,0,0.1);
    }
    table{ width:100%; display:flex; flex-direction:column; }
    tr{ width:100%; display:grid; grid-template-columns: minmax(50px,0.5fr) minmax(150px,1.5fr) minmax(100px,1fr) minmax(150px,2fr); }
    th{ padding:6px 12px; font-size:.8rem; color:#333; font-weight:500; text-align:center; background:#ccc; }
    td{ padding:12px 8px; background:#fff; display:flex; align-items:center; justify-content:center; }
    .acciones-zonas{ display:flex; gap:8px; }
    .accion-button{ width:36px; height:36px; border-radius:50%; display:flex; align-items:center; justify-content:center; border:none; }
    .edit-button{ background:#2f6dfc; color:#fff; }
    .delete-button{ background:#e13f12; color:#fff; }